<ion-view view-title="Alloy Bluetooth App for {{user.name}}">
  <ion-content class="padding">
    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Name" ng-model="user.name">
        </label>
        <button class="button button-small" ng-click="confirmName();">
          Save
        </button>
      </div>

    </div>  
    <div class="list card">
      <div class="item item-divider">Bluetooth beacons:</div>
      <div class="item item-body" ng-repeat="b in bluetooth">
        <div>
          Name: {{b.name}} 
          <br>
          RSSI: {{b.rssi}}
        </div>
      </div>        
    </div>
  </ion-content>
</ion-view>



<!--<ion-view view-title="Bluetooth">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>-->
